:root {
  font-family: "InterVariable", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --spacing: 10px;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overscroll-behavior: none;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

::selection {
  background-color: #666;
}
